/*Fonts*/

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 292;
    font-style: normal;
}

/*Normal CSS stuff*/
.titles{
    width: 93%;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 7%;
}

.carousel-caption {
    font-family: "Montserrati";
    color: black;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: center;
}

p{
    font-family: Montserrat;
}

h4 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 200%;
    margin-bottom: 35px;
}

.logos {
    display: flex;
    width: 100%
    justify-content: center;
    margin: 30px;
}
